<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.Extend_Reports"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/jAVA/Tester/PetSore_Swagger_Api_Test">
        <classes>
<!--            <class name="api_Test.User_Test">-->
<!--                <methods>-->
<!--                    <include name="postUser"/>-->
<!--                    <include name="getUser"/>-->
<!--                    <include name="updateUser"/>-->
<!--                    <include name="deleteUser"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="api_Test.Pet_Test"></class>
        </classes>
    </test>
</suite>